@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgb(35,35,35), rgb(75,75,75));
}

svg {
	fill: white;
}

/* Homepage */
#container {
	overflow: hidden;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	gap: 1rem;
}

#name {
	background: linear-gradient(to right, rgb(255,255,255), rgb(0, 0, 255), rgb(0, 255, 255));
	background-size: 500%;
	background-position: left;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent
}

.hide {
	filter: blur(10px);
	transition: all 1s ease-out;
}

.show {
	filter: blur(0px);
	transition: all 1s ease-out;
}

.software {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0%, rgba(125, 125, 125, 0.5) 40%);
	border-radius: 0.5rem;
	box-shadow: 1rem 1rem 1rem rgb(10,10,10);
}

.project:hover {
	background-image: linear-gradient(110deg, rgba(255, 255, 255, 1) 0%, rgba(125, 125, 125, 1) 40%);
}