@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
	fill: hsl(var(--bc));
}

.techIcon:hover svg,
.techIcon:hover {
	fill: hsl(var(--p));
	color: hsl(var(--p));
	filter: brightness(1.1);
}
